In [119]:
import mysql.connector

con = mysql.connector.connect(host='40b8f30251.nxcli.io',
                                     database='a4f2b49a_sample_database',
                                     user='a4f2b49a_padawan',
                                     password= 'KaratFlanksUgliedSpinal')

if con.is_connected():
 db_info = con.get_server_info()
 print("conectado ao servidor mysql versão",db_info)
 cursor = con.cursor()
 cursor.execute("select database();")
 linha = cursor.fetchone()
 print("conectado ao banco de dados",linha)

#if con.is_connected():
# cursor.close()
 #con.close()
# print("Conexão ao Mysql foi encerrada")

conectado ao servidor mysql versão 5.5.5-10.5.16-MariaDB
conectado ao banco de dados ('a4f2b49a_sample_database',)

In [136]:
import mysql.connector
from mysql.connector import Error


try:
    con = mysql.connector.connect(host='40b8f30251.nxcli.io',
                                     database='a4f2b49a_sample_database',
                                     user='a4f2b49a_padawan',
                                     password= 'KaratFlanksUgliedSpinal')

    consulta_sql = "select * from raw_data"
    cursor = con.cursor()
    cursor.execute(consulta_sql)
    linha = cursor.fetchall()
    print("numero total de registro: ", cursor.rowcount)
    
    
    
    #print("\mostrando os dados da tabela!")
    #for linha in linhas:
    #    print(linha)
        
except Error as e:
    print("Erro ao acessar tabela no mysql",e)
finally:
    if (con.is_connected()):
     cursor.close()
     con.close()
     print("Conexão ao Mysql foi encerrada")

numero total de registro:  100000
Conexão ao Mysql foi encerrada

In [120]:
query = "SELECT * FROM raw_data"
cursor = con.cursor()
cursor.execute(query)
linha = cursor.fetchall()
print("numero total de registro: ", cursor.rowcount)
#print("numero total de registro: ", cursor.query columns)

numero total de registro:  100000

In [121]:
column = "SELECT * FROM raw_data limit 10"
cursor = con.cursor()
cursor.execute(column)
resultados = cursor.fetchall()
print(resultados)

[('2021-03-15T17:00:00', 9467, 'Torneio', 1.0), ('2023-04-11T07:57:51', 4683, 'Cash Game', 74.05), ('2022-01-19T11:00:00', 2651, 'Torneio', 6.0), ('2023-03-12T13:54:40', 5300, 'Cash Game', 10.1), ('2022-06-07T15:52:24', 3711, 'Cash Game', 7.65), ('2022-01-08T12:20:17', 50907, 'Cash Game', 2.21), ('2020-12-19T18:47:00', 26729, 'Cash Game', 0.57), ('2023-01-21T14:43:39', 77882, 'Cash Game', 0.4), ('2022-06-13T08:26:17', 46609, 'Cash Game', 5.85), ('2022-07-17T21:32:26', 51223, 'Cash Game', 0.15)]

In [122]:
cursor = con.cursor()
cursor.execute("SHOW DATABASES LIKE'a4f2b49a_sample_database'")
resultado = cursor.fetchone()

if resultado:
    print(" o banco de dados já existe.")
else:
    print(" o banco de dados ainda já existe.")
    cursor.execute("CREATE DATABASE a4f2b49a_sample_database")

 o banco de dados já existe.

In [134]:
#BD_LoCAL
import mysql.connector

con = mysql.connector.connect(host='localhost',
                                     database='mes_db',
                                     user='root',
                                     password= 'Jeremy@23@!$#')

if con.is_connected():
 db_info = con.get_server_info()
 print("conectado ao servidor mysql versão",db_info)
 cursor = con.cursor()
 cursor.execute("select database();")
 linha = cursor.fetchone()
 print("conectado ao banco de dados",linha)

#if con.is_connected():
# cursor.close()
 #con.close()
# print("Conexão ao Mysql foi encerrada")

conectado ao servidor mysql versão 8.0.33
conectado ao banco de dados ('mes_db',)

In [135]:
import mysql.connector
from mysql.connector import Error


try:
    con = mysql.connector.connect(host='localhost',
                                     database='mes_db',
                                     user='root',
                                     password= 'Jeremy@23@!$#')

    new_tbl = """CREATE TABLE nva_tbl (mes VARCHAR(50) NOT NULL,
                                        rake INT(11) NOT NULL,
                                        jogadores INT(11) NOT NULL,
                                        rake_cash_game DOUBLE NOT NULL,
                                        rake_torneio DOUBLE NOT NULL,
                                        jogadores_cash_game INT(11) NOT NULL,
                                        jogadores_torneio INT(11))"""

    cursor = con.cursor()
    cursor.execute(new_tbl)
    print("tabela nva_tbl criada com sucesso!")

except mysql.connector.Error as erro:
    print("falha ao criar nva_tbl no mysql : {}".format(erro))
finally:
    if con.is_connected():
     cursor.close()
     con.close()
     print("Conexão ao Mysql foi encerrada")

tabela nva_tbl criada com sucesso!
Conexão ao Mysql foi encerrada